@model WardrobeMVC.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        
        <dt>
            @Html.LabelFor(model => model.Top.TopName, "Top")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.TopName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Bottom.BottomName, "Bottom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.BottomName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Sho.ShoeName, "Shoes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sho.ShoeName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Accessory.AccessoryName, "Accessory")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.AccessoryName)
        </dd>

    </dl>
</div>
<div>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Outfits")'">Back to List</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }, new { @class = "btn btn-info", role = "button" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.OutfitID }, new { @class = "btn btn-info", role = "button" })
</div>