@model IEnumerable<WardrobeMVC.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Outfits</h2>

@*CREATE NEW OUTFITS*@
<p class="new-item">
    <button type="button" class="btn btn-info create-new" onclick="location.href='@Url.Action("Create", "Outfits")'">New Outfit</button>
</p>

@*ROW CONTAINING OUTFITS INFORMATION*@
<div class="row">
    @*LOOP THAT IS ABLE TO HANDLE NEW OUTFIT ADDITIONS*@
    @foreach (var item in Model)
    {
        @*OUTFITS*@
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row outfit-items">
                        <div class="col-md-12">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <img src="@Html.DisplayFor(modelItem => item.Top.TopImage)" class="img-responsive outfitImage" />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 image-to-bottom">
                                <img src="@Html.DisplayFor(modelItem => item.Accessory.AccessoryImage)" class="img-responsive accessoryImage" />
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <img src="@Html.DisplayFor(modelItem => item.Bottom.BottomImage)" class="img-responsive outfitImage" />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 image-to-bottom">
                                <img src="@Html.DisplayFor(modelItem => item.Sho.ShoeImage)" class="img-responsive accessoryImage" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 buttons">
                            @*BUTTONS FOR DETAILS AND EDIT*@
                            <p>@Html.ActionLink("Details", "Details", new { id = item.OutfitID }, new { @class = "btn btn-info index", role = "button" })</p>
                            <p>@Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }, new { @class = "btn btn-info index", role = "button" })</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

