@model WardrobeMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.BottomImage, "Image")
        </dt>

        <dd>
            <img src="@Html.DisplayFor(modelItem => Model.BottomImage)" class="img-responsive thumbnail-image" />
        </dd>

        <dt>
            @Html.LabelFor(model => model.BottomName, "Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Color.ColorName, "Color")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Occasion.OccasionName, "Occasion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Season.SeasonName, "Season")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BottomType.BottomTypeName, "Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomType.BottomTypeName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BottomImage, "Image Link")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomImage)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Bottoms")'">Back to List</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }, new { @class = "btn btn-info", role = "button" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.BottomID }, new { @class = "btn btn-info", role = "button" })
</div>
