@model IEnumerable<WardrobeMVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Bottoms</h2>

@*CREATE NEW BOTTOMS*@
<p class="new-item">
    <button type="button" class="btn btn-info create-new" onclick="location.href='@Url.Action("Create", "Bottoms")'">New Bottoms</button>
</p>

@*ROW CONTAINING BOTTOMS INFORMATION*@
<div class="row items">
    <br />
    @*LOOP THAT IS ABLE TO HANDLE NEW BOTTOMS ADDITIONS*@
    @foreach (var item in Model)
    {
        @*BOTTOMS*@
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@Html.DisplayFor(modelItem => item.BottomName)</h4>
                            <p><img src="@Html.DisplayFor(modelItem => item.BottomImage)" class="img-responsive image" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 description">
                            <p>Occasion:&nbsp;<span>@Html.DisplayFor(modelItem => item.Occasion.OccasionName)</span></p>
                            <p>Season:&nbsp;<span>@Html.DisplayFor(modelItem => item.Season.SeasonName)</span></p>
                        </div>
                        <div class="col-md-6 buttons">
                            @*BUTTONS FOR DETAILS AND EDIT*@
                            <p>@Html.ActionLink("Details", "Details", new { id = item.BottomID }, new { @class = "btn btn-info index", role = "button" })</p>
                            <p>@Html.ActionLink("Edit", "Edit", new { id = item.BottomID }, new { @class = "btn btn-info index", role = "button" })</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

