@model WardrobeMVC.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.ShoeImage, "Image")
        </dt>

        <dd>
            <img src="@Html.DisplayFor(modelItem => Model.ShoeImage)" class="img-responsive thumbnail-image" />
        </dd>

        <dt>
            @Html.LabelFor(model => model.ShoeName, "Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Color.ColorName, "Color")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Occasion.OccasionName, "Occasion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Season.SeasonName, "Season")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ShoeType.ShoeTypeName, "Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeType.ShoeTypeName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ShoeImage, "Image Link")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeImage)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Shoes")'">Back to List</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }, new { @class = "btn btn-info", role = "button" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.ShoeID }, new { @class = "btn btn-info", role = "button" })
</div>
