@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.TopImage, "Image")
        </dt>

        <dd>
            <img src="@Html.DisplayFor(modelItem => Model.TopImage)" class="img-responsive thumbnail-image" />
        </dd>

        <dt>
            @Html.LabelFor(model => model.TopName, "Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Color.ColorName, "Color")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Occasion.OccasionName, "Occasion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Season.SeasonName, "Season")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TopType.TopTypeName, "Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopType.TopTypeName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TopImage, "Image Link")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopImage)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Tops")'">Back to List</button>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }, new { @class = "btn btn-info", role = "button" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.TopID }, new { @class = "btn btn-info", role = "button" })
</div>
