@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Tops</h2>

@*CREATE NEW TOP*@
<p class="new-review">
    <button type="button" class="btn btn-info create-new" onclick="location.href='@Url.Action("Create", "Tops")'">Store a New Top</button>
</p>

@*ROW CONTAINING TOP INFORMATION*@
<div class="row">
    @*LOOP THAT IS ABLE TO HANDLE NEW TOP ADDITIONS*@
    @foreach (var item in Model)
    {
        @*TOP*@
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@Html.DisplayFor(modelItem => item.TopName)</h4>
                            <p><img src="@Html.DisplayFor(modelItem => item.TopImage)" class="img-responsive image" /></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Occasion:&nbsp;<span>@Html.DisplayFor(modelItem => item.Occasion.OccasionName)</span></p>
                            <p>Season:&nbsp;<span>@Html.DisplayFor(modelItem => item.Season.SeasonName)</span></p>
                            <p>Type:&nbsp;<span>@Html.DisplayFor(modelItem => item.TopType.TopTypeName)</span></p>
                            <p>Color:&nbsp;<span>@Html.DisplayFor(modelItem => item.Color.ColorName)</span></p>
                        </div>
                        <div class="col-md-6">
                            @*BUTTONS FOR DETAILS AND EDIT*@
                            <p>@Html.ActionLink("Details", "Details", new { id = item.TopID }, new { @class = "btn btn-info", role = "button" })</p>
                            <p>@Html.ActionLink("Edit", "Edit", new { id = item.TopID }, new { @class = "btn btn-info", role = "button" })</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>





@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopType.TopTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.ColorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopType.TopTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TopID })
        </td>
    </tr>
}

</table>*@
